@media only screen and (min-width:992px) {

    /* .col-services {
        flex-basis: 20%;
    } */
    .col-services:nth-child(8),
    .col-services:nth-child(9),
    .col-services:nth-child(10),
    .col-services:nth-child(11) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.col-services-link {
    transition: all .25s ease-in-out;
}

.col-services:hover .col-services-link {
    opacity: 1 !important;
    pointer-events: all !important;
}