/* start of services home */
.col-services img,
.col-services-overlay {
  transition: all .25s ease-in-out;
}

.col-services:hover img {
  transform: scale(1.05);
}

.col-services:hover .col-services-overlay {
  opacity: 0 !important;
}

/* end of services home */
.btn-read-less,
.btn-read-more.inactive {
  opacity: 0;
  pointer-events: none;
}

.btn-read-less.active,
.btn-read-more.active {
  opacity: 1;
  pointer-events: all;
}

.dropdown-arrow svg {
  transition: all 0.25s ease-in-out;
}

.dropdown-arrow.active svg {
  transform: rotate(90deg) !important;
}